.container {
    margin-bottom: 20px;
    background: #ff5757 10% ;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(207, 203, 203, 0.1);
    border-radius: 5rem;
    justify-content: center;

}


section {
    margin-bottom: 20px;
    background: #000000;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(207, 203, 203, 0.1);
    border-radius: 1rem;
    color: rgb(240, 240, 240);
}




